Release Notes

* ${currentVersion}

  * Support for "extensions", allowing users of the library to add new GTFS fields for existing files, for reading and writing, without
    needing to modify OneBusAway source code.  For more details, see {{{./index.html#Reading_Custom_Fields}Reading Custom Fields}}.

  * Support for the proposed <<<route_sort_order>>> field in <<<routes.txt>>>.

  * Support for the <<<pathway_type>>> field in <<<pathways.txt>>>.

  * Bug fix for default-value <<<timepoint>>> field in <<<stop_times.txt>>> - {{{https://github.com/OneBusAway/onebusaway-gtfs-modules/issues/46}issue}}

  * Bug fix to ensure fare_attributes.txt transfers column is always included in GTFS output - {{{https://github.com/OneBusAway/onebusaway-gtfs-modules/issues/50}issue}}

  * Support for "<<<path(...)>>>" expressions in GTFS transformer <<<update>>> ops - {{{https://github.com/OneBusAway/onebusaway-gtfs-modules/issues/48}issue}}

  * Support for "<<<s/.../.../>>>" expressions in GTFS transformer <<<update>>> ops - {{{https://github.com/OneBusAway/onebusaway-gtfs-modules/issues/52}issue}}

  * Full Documentation: {{${site_base_url}/onebusaway-gtfs-modules/${currentVersion}/}}

* 1.3.3

  * Support for the proposed <<<timepoint>>> field in <<<stop_times.txt>>>.

  * Support for <<<bikes_allowed>>> field in both <<<routes.txt>>> and <<<trips.txt>>>,
    with 0 = undefined, 1 = bikes allowed, 2 = bikes NOT allowed.  Matches
    the wheel-chair accessibility semantics.

  * New transformer to simply <<<calendar.txt>>> and <<<calendar_dates.txt>>> entries,
    combining service_ids that resolve to the exact same set of service
    dates.

  * New transform strategy to fix shapes which are used for the wrong direction of travel.

  * Fix to properly handle using the library in non-English locales.  {{{https://github.com/OneBusAway/onebusaway-gtfs-modules/issues/29}issue}}

  * Full Documentation: {{${site_base_url}/onebusaway-gtfs-modules/1.3.3/}}

* 1.3.2

  * Introduce <<<onebusaway-gtfs-hibernate-cli>>>, a utility for loading GTFS into a database - {{{./onebusaway-gtfs-hibernate-cli.html}details}}
  
  * Support for <<<stops.txt>>> <<<platform_code>>> field - {{{https://github.com/OneBusAway/onebusaway-gtfs-modules/pull/27}issue}}
  
  * Support for negative arrival and departure times in <<<stop_times.txt>>>, along with a "shift_negative_stop_times" GTFS transformer
    operation for normalizing feeds with negative stop-times.
    
  * Fix workaround for Java timezone bug - {{{https://github.com/OneBusAway/onebusaway-gtfs-modules/pull/28}issue}}
  
  * Introduce <<<RemoveRepeatedStopTimesInSameTripStrategy>>>, a GTFS transformer strategy - {{{./apidocs/org/onebusaway/gtfs_transformer/updates/RemoveRepeatedStopTimesInSameTripStrategy.html}javadoc}}

  * Full Documentation: {{${site_base_url}/onebusaway-gtfs-modules/1.3.2/}}

* 1.3.1

  * Support for <<<stops.txt>>> <<<stop_timezone>>> field - {{{https://github.com/OneBusAway/onebusaway-gtfs-modules/issues/21}issue}}
  
  * Support trip-2-trip transfers extension to transfers.txt - {{{https://github.com/OneBusAway/onebusaway-gtfs-modules/issues/24}issue}}

  * Reduced memory consumption for ShapePoints and StopTimes - {{{https://github.com/OneBusAway/onebusaway-gtfs-modules/issues/7}issue}}
  
  * Always include <<<route_short_name>>> and <<<route_long_name>>> in <<<routes.txt>>> output - {{{https://github.com/OneBusAway/onebusaway-gtfs-modules/issues/12}issue}}
  
  * onebusaway-gtfs-transformer-cli:
  
    * Use GTFS file and field names instead of OBA Java object and property names in matchers and updaters.
    
    * Support for "any(...)" matches.
    
    * New transforms: "trim_trip", "stop_times_factory", "calendar_extension", and "calendar_simplification".

  * onebusaway-gtfs-merge-cli:
  
  	* Introduce a new OneBusAway GTFS merge tool for combining GTFS feeds.
  	
  * Bug fixes:
  
    * NPE in ServiceDateUserType - {{{https://github.com/OneBusAway/onebusaway-gtfs-modules/issues/9}issue}}
    
    * Better handling of <<<routes.txt>>> agency resolution - {{{https://github.com/OneBusAway/onebusaway-gtfs-modules/issues/18}issue}}

    * Crash with calendar simplification transform for <<<service_id>>> with no active dates - {{{https://github.com/OneBusAway/onebusaway-gtfs-modules/issues/20}issue}}
    
    * More useful file name when throwing CsvEntityIOException -{{{https://github.com/OneBusAway/onebusaway-gtfs-modules/issues/23}issue}}    

  * Full Documentation: {{${site_base_url}/onebusaway-gtfs-modules/1.3.1/}}
  
* 1.3.0

  * Support for more natural field order in header when writing CSV file - {{{https://github.com/OneBusAway/onebusaway-gtfs-modules/issues/2}issue}}
  
  * Support for excluding optional columns when no values are specified - {{{https://github.com/OneBusAway/onebusaway-gtfs-modules/issues/3}issue}}
  
  * Fix for Daylight Saving Time service calendar computation bug - {{{https://github.com/OneBusAway/onebusaway-gtfs-modules/issues/1}issue}}
  
  * Fix for bogus-timezone bug - {{{https://github.com/OneBusAway/onebusaway-gtfs-modules/issues/6}issue}}
  
  * Support for week-long stop_times.txt values - {{{https://github.com/OneBusAway/onebusaway-gtfs-modules/pull/5}issue}}
  
  * More flexible CSV parsing support from {{${site_base_url}/onebusaway-csv-entities/1.1.0/}}

  * Full Documentation: {{${site_base_url}/onebusaway-gtfs-modules/1.3.0/}}

* 1.2.6

  * Migrate to GitHub.
  
  * When doing GTFS graph retention, allow the agency id referenced by stops, shapes, and service ids to refer to a
    non-existent agency.  These elements don't technically require an agency in the same way routes do, so it's ok if
    they have a non-existent reference.
  
  * Add a custom field mapping for stop_lat and stop_lon in stops.txt that will better serialize their values when
    writing back to the output file.  We ran into an issue when working with stop locations very close to the prime
    meridian where the stop_lon value was serialized using scientific notation.  The new field mapping introduces a
    custom formatter that will enforce a more normal decimal representation when the value is written to the output
    file.
  
  * Allow input of multiple GTFS files to GTFS importer.
  
  * Better support for missing values when reading entity ids in the CSV-to-Object serialization library.
  
  * Support for frequencies.txt label_only field.
  
  * Better support for injecting new entities with the GtfsTransformer.

  * Full Documentation: {{${site_base_url}/onebusaway-gtfs-modules/1.2.6/}}

* 1.2.5

  * Support for {{{https://developers.google.com/transit/gtfs/reference#feed_info_fields}feed_info.txt}}
  
  * Support for {{{https://developers.google.com/transit/gtfs/reference#agency_fields}agency.txt}} <<<agency_fare_url>>> field
  
  * Support for {{{https://developers.google.com/transit/gtfs/reference#frequencies_fields}frequencies.txt}} <<<exact_times>>> field
  
  * Mark Hibernate GTFS classes as mutable (see {{{https://groups.google.com/group/onebusaway-developers/browse_thread/thread/219d40f7a99c9709}discussion}})
  
  * Add <<<getStopsForStation()>>> method to {{{./apidocs/org/onebusaway/gtfs/services/GtfsRelationalDao.html#getStopsForStation(org.onebusaway.gtfs.model.Stop)}GtfsRelationalDao}} (see {{{https://groups.google.com/group/onebusaway-developers/browse_thread/thread/95f4335fcc0d056e}discussion}})
  
  * Add <<<makeReadOnly()>>> method to {{{./apidocs/org/onebusaway/gtfs/model/calendar/CalendarServiceData.html#makeReadOnly()}CalendarServiceData}}
  
  * {{{./apidocs/org/onebusaway/gtfs/model/calendar/ServiceDate.html#parseString(java.lang.String)}ServiceDate.parseString()}} now throws a ParseException
  
  * Add {{{./apidocs/org/onebusaway/gtfs_transformer/updates/CalendarSimplicationStrategy.html}CalendarSimplicationStrategy}} for simplifying redundant trips / calendar entries - see {{{./onebusaway-gtfs-transformer-cli.html#Merge_Trips_and_Refactor_Calendar_Entries}usage instructions}}
  
  * Update {{{./apidocs/org/onebusaway/gtfs_transformer/updates/ShapeTransformStrategy.html}ShapeTransformStrategy}} to support updating just the start or end of a shape

  * Full Documentation: {{${site_base_url}/onebusaway-gtfs-modules/1.2.5/}}
  
* 1.2.4

  * More documentation for {{{./onebusaway-gtfs-transformer-cli.html}onebusaway-gtfs-transformer-cli}}.
  
  * Add <<<getAllShapeIds()>>> method to {{{./apidocs/org/onebusaway/gtfs/services/GtfsRelationalDao.html#getAllShapeIds()}GtfsRelationalDao}}
  
  * Add <<<journeyDuration>>> property to {{{./apidocs/org/onebusaway/gtfs/model/FareAttribute.html}FareAttribute}} 
  
  * Better support for entity id matching in <<<onebusaway-gtfs-transformer-cli>>>.

  * Full Documentation: {{${site_base_url}/onebusaway-gtfs-modules/1.2.4/}}
  
* 1.2.3

  * More documentation for {{{./onebusaway-gtfs-transformer-cli.html}onebusaway-gtfs-transformer-cli}}.
  
  * Better support for entity id matching in <<<onebusaway-gtfs-transformer-cli>>>.

  * Full Documentation: {{${site_base_url}/onebusaway-gtfs-modules/1.2.3/}}

* 1.2.2

  * Add sorting of calendar.txt and calendar_dates.txt entries by service id when writing to output

  * Add additional manipulation methods to {{{./apidocs/org/onebusaway/gtfs/model/calendar/ServiceDate.html} ServiceDate}}
  
  * Initial entry for {{{./apidocs/org/onebusaway/gtfs/impl/GenericMutableDaoWrapper.html} GenericMutableDaoWrapper}}
  
  * Initial entry for {{{./apidocs/org/onebusaway/gtfs_transformer/services/GtfsEntityTransformStrategy.html} GtfsEntityTransformStrategy}}
  
  * Support in gtfs-transformer for the new entity tranformation strategy

  * Full Documentation: {{${site_base_url}/onebusaway-gtfs-modules/1.2.2/}}

* 1.2.1

  * Support for {{{http://groups.google.com/group/gtfs-changes/browse_frm/thread/42a6863ae3661bba/d65149383c0d65e5?lnk=gst&q=bicycle#d65149383c0d65e5} bicycle accessibility}} proposal.
  
  * Support for {{{http://groups.google.com/group/gtfs-changes/browse_frm/thread/e6ef325c1ae92b6c} exact_times}} proposal.
  
  * Bump to {{{${site_base_url}/onebusaway-csv-entities/1.0.1/} onebusaway-csv-entities-1.0.1}}.
  
  * Add {{{./apidocs/org/onebusaway/gtfs/model/AgencyAndIdInstance.html} AgencyAndIdInstance}} class.
  
  * Full Documentation: {{${site_base_url}/onebusaway-gtfs-modules/1.2.1/}}
  
* 1.2.0

  * Initial Site Documentation
  
  * Bump to require Maven 3

  * Refactor CSV entity reading and writing support into its own module: {{${site_base_url}/onebusaway-csv-entities/1.0.0/}}

  * Full Documentation: {{${site_base_url}/onebusaway-gtfs-modules/1.2.0/}}

* 1.1.11

* 1.1.10

* 1.1.9

* 1.1.8

* 1.1.7

* 1.1.6

* 1.1.5

* 1.1.4

* 1.1.3
