Release Notes

* ${currentVersion}

  * Documentation tweaks
  
  * Full Documentation: {{${site_base_url}/onebusaway-collections/${currentVersion}/}}

* 1.1.0

  * Initial Site Documentation
  
  * Bump to require Maven 3

  * FunctionalLibrary - simple filter, grep operations on collections

  * Full Documentation: {{${site_base_url}/onebusaway-collections/1.1.0/}}

* 1.0.4

* 1.0.3

* 1.0.2

* 1.0.1

* 1.0.0
