name: CI

on:
  push:
  pull_request:
    branches: [ main ]

env:
  MAVEN_ARGS: "--no-transfer-progress -Dstyle.color=always"

jobs:

  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        locale: [ "en_US.utf8", "fr_FR.utf8" ]

    env:
      LANG: ${{ matrix.locale }}

    steps:
    - uses: actions/checkout@v5

    - name: Set locale to ${{ matrix.locale }}
      run: |
        lang=`echo "${{ matrix.locale }}" | head -c 2`
        sudo apt-get -qq install -y language-pack-${lang}
        
        echo ""
        
        # list installed locales
        echo "Available locales"
        locale -a
        sudo locale-gen ${{ matrix.locale }}
        sudo update-locale LANG=${{ matrix.locale }}

    - run: date

    - uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: '21'
        cache: 'maven'

    - name: Test project with Maven
      run: |
        mvn $MAVEN_ARGS test package

  cli-integration-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'maven'

      - name: Run CLI integration tests
        run: ./cli-tests/cli-tests.sh

  container-image:
    if: github.repository_owner == 'onebusaway' && github.event_name == 'push' && github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest

    env:
      CONTAINER_REGISTRY_NAMESPACE: docker.io/opentransitsoftwarefoundation
      CONTAINER_REGISTRY_USER: onebusawaybot
      CONTAINER_REGISTRY_PASSWORD: ${{ secrets.DOCKERHUB_PASSWORD }}

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'maven'

      - name: Build container image tarball
        run: |
          MAVEN_SKIP_ARGS="-Dmaven.test.skip=true -Dmaven.source.skip=true"
          mvn $MAVEN_ARGS $MAVEN_SKIP_ARGS package jib:build
